main {
    width: 100%;
    height: 100vh;
    background-color: #c0baba;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: rgb(86, 83, 83);
    padding: 1.2rem;
    border-radius: 0.6rem;
}

input {
    border: 0;
    outline: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin: 0.6rem;
}

.display {
    display: flex;
    justify-content: flex-end;
    margin: 1.2rem 0;
}

.display input {
    text-align: right;
    flex: 1;
    font-size: 3rem;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 0 0.5rem;
    background-color: #c0baba;
    color: black;
}

.equal {
    width: 9.2rem;
}